<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="DEBUG" fileName="logs/debug.log"
                     filePattern="logs/$${date:yyyy-MM}/debug-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%t|%d|%-5level|%m|%l%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%t|%d|%-5level|%m|%l%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="com.sbs">
            <AppenderRef ref="DEBUG" />
        </logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>